.chat__message--contents
  .chat__message--name
    sample_user
  .chat__message--timestamp
    2018/05/25 19:00:30
  .chat__message--message
    sample_sentence
  .chat__message--name
    sample_user
  .chat__message--timestamp
    2018/05/25 19:00:30
  .chat__message--message
    sample_sentence
  .chat__message--name
    sample_user
  .chat__message--timestamp
    2018/05/25 19:00:30
  .chat__message--message
    sample_sentence
  .chat__message--name
    sample_user
  .chat__message--timestamp
    2018/05/25 19:00:30
  .chat__message--message
    sample_sentence
  .chat__message--name
    sample_user
  .chat__message--timestamp
    2018/05/25 19:00:30
  .chat__message--message
    sample_sentence
  .chat__message--name
    sample_user
  .chat__message--timestamp
    2018/05/25 19:00:30
  .chat__message--message
    sample_sentence
  .chat__message--name
    sample_user
  .chat__message--timestamp
    2018/05/25 19:00:30
  .chat__message--message
    sample_sentence
  .chat__message--name
    sample_user
  .chat__message--timestamp
    2018/05/25 19:00:30
  .chat__message--message
    sample_sentence
  .chat__message--name
    sample_user
  .chat__message--timestamp
    2018/05/25 19:00:30
  .chat__message--message
    sample_sentence
  .chat__message--name
    sample_user
  .chat__message--timestamp
    2018/05/25 19:00:30
  .chat__message--message
    sample_sentence
  .chat__message--name
    sample_user
  .chat__message--timestamp
    2018/05/25 19:00:30
  .chat__message--message
    sample_sentence
  .chat__message--name
    sample_user
  .chat__message--timestamp
    2018/05/25 19:00:30
  .chat__message--message
    sample_sentence
  .chat__message--name
    sample_user
  .chat__message--timestamp
    2018/05/25 19:00:30
  .chat__message--message
    sample_sentence
