.contents__chat__message__contents
  .contents__chat__message__contents--name
    sample_user
  .contents__chat__message__contents--timestamp
    2018/05/26 10:45:00
  .contents__chat__message__contents--messages
    sample_sentence
