.contents
  .side-bar
    .account
      %h3 sample-user

      %ul.icon-list
        %li
          %a.button{ href: "#" }
            =fa_icon("edit")
        %li
          %a.button{ href: "#" }
            =fa_icon("cog")

    .groups
      = render "groups/groups"

  .chat
    .chat__header
      .chat__header--group
        .chat__header--group-name
          sample-group
        %ul.chat__header--group-members
          Member：
          %li.member sample-user1
          %li.member sample-user2
      .chat__header--group-edit
        %a.chat__header--group-edit-button{ href: "#" }
          Edit

    .chat__message--show
      = render "messages"

    .footer
      .footer__input--form
        .footer__input--text
          = text_field :message, :text, :placeholder => "type a message"
        %label.footer__input--image
          = fa_icon("image")
      .footer__send--form
        %input{:type => "submit", :value => "Send", :class => "footer__send--button"}
