.contents__side-bar__groups__group
  %a.contents__side-bar__groups__group-info{ href: "#" }
    .contents__side-bar__groups__group-info--name
      somegroup
    .contents__side-bar__groups__group-info--latest-message
      sample sentence

