.contents__chat__header
  .contents__chat__header__group
    .contents__chat__header__group--name
      sample-group
    %ul.contents__chat__header__group--members
      Member：
      %li.member sample-user1
      %li.member sample-user2
  .contents__chat__header__group--edit
    %a.contents__chat__header__group--edit-button{ href: "#"}
      Edit
