.contents__chat__header
  .contents__chat__header__group
    .contents__chat__header__group--name
      = @group.name
    %ul.contents__chat__header__group--members
      Members:
      - @group.users.each do |user|
        = user.name
  .contents__chat__header__group--edit
    =link_to 'Edit', edit_group_path(@group), class: 'contents__chat__header__group--edit-button'
