.contents__footer {
  @include clearfix;
  padding: 20px 40px 20px 40px;
  background-color: #DDDDDD;

  &__input-form {
  width: calc(100% - 130px);
  float: left;

  &--text {
    width: $max_width;
    height: $height50;
    float: left;
    position: relative;
    border: none;
    padding: 0 10px;

    }


  &--image {
    float: left;
    position: absolute;
    right: 160px;
    font-size: $font_size20;
    padding: 15px 20px 0;
}
  &--button {
    float: left;
    height: $height50;
    margin-left: 30px;
    padding: 0 30px;
    border: none;
    color: $color_white;
    background-color: $button_color;
    position: absolute;
    }
  }
}


