    .contents__side-bar__groups {
      height: calc(100vh - 100px);
      padding: 0 20px;
      overflow: scroll;

      &__group {
        box-sizing: border-box;
        height: 70px;
        padding: 20px 0 40px;

        &-info {
          text-decoration: none;

          &--name {
            color: $color_white;
            font-size: $font_size15;
            margin-bottom: 5px;
        }

          &--latest-message {
            color: $color_white;
            font-size: 11px;
          }
        }

      }
    }



